@import "tailwindcss";

:root {
  --foreground: #ededed;
  --background: #181818;
  --secondary: #5555ff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

* {
    transition-duration: 0.2s;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  border-bottom: 1px solid var(--foreground);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  font-size: 25px;
  background-color: var(--color-secondary);
}

.breakline {
  border: 1px solid var(--foreground);
  width: 100%;
}

.header a {
  color: var(--foreground);
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
}

.header a:hover {
  background-color: var(--secondary);
}

.header button {
  color: var(--foreground);
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
}

.header button:hover {
  cursor: pointer;
  background-color: var(--secondary);
}
.panel-container {
  width:100%;
  display: flex;
  justify-content: center;
}

.panel {
  margin-top: 5rem;
  border: 1px solid var(--foreground);
  width: 50%;
  padding: 1rem;
}

.panel form {
  display: flex;
  flex-direction: column;
}

.panel label {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

.panel input {
  margin-left: 1rem;
  border-bottom: 1px solid var(--foreground);
  outline: none;
}

.panel input:focus-visible {
  border-bottom: 1px solid var(--secondary);
}

.panel button {
  margin-top: 1rem;
  border: 1px solid var(--secondary);
  width: 5rem;
  align-self: left;
}

.panel button:hover {
  background-color: var(--secondary);
  color: var(--foreground);
  cursor: pointer;
}

.forPage-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.forPage-left {
  border-right: 1px solid var(--color-foreground)
}

.forPage-right {
  border-left: 1px solid var(--color-foreground)
}

.postInLine-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid var(--color-foreground);
}

.postInLine-container p {
  margin-bottom: 1rem;
}

.postInLine-container button {
  padding-inline: 1rem;
  border: 1px solid var(--color-secondary);
  margin: 1rem;
}

.postInLine-container button:hover {
  background-color: var(--color-secondary);
  cursor: pointer;
}

.like-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.right-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.postBar form{
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.postBar {
  padding: 1rem;
  border-bottom: 1px solid var(--color-foreground);
}

.postBar textarea {
  border-bottom: 1px solid var(--color-foreground);
  outline: none;
  width: 50%;
  min-height: 2rem;
  max-height: 7rem;
}

.postBar textarea:focus-visible {
  border-bottom: 1px solid var(--color-secondary);
}

.postBar button {
  border: 1px solid var(--color-secondary);
  padding-inline: 1rem;
}

.postBar button:hover {
  background-color: var(--color-secondary);
  cursor: pointer;
}